#scene .floor { background: radial-gradient(#080,#020 80%); pointer-events: all; }
#puzzlefloor { background: #0003; }
.on_wall #puzzlefloor, .on_wall #puzzlewall * { pointer-events: all; }
.tile { background: #fff; border: 5px solid #000; }
.wall_tile { background: #bbb }
.tile.black { background: #000 }
.tile.red { background: #F00 }
.tile.blue { background: #00F }
.wall * { pointer-events: all; background: linear-gradient(45deg, #000, #333); }
.tree { font-size: 75px; filter: brightness(0.7); transition: transform .5s; }
.instant .tree { transition: none; }
.shadow { filter: contrast(0)brightness(0); opacity: .6 }
#mirror .cubefront, #mirror .cubeback { background: linear-gradient(#0000 30%,#02db 90%); }
#mirror .cubeleft, #mirror .cuberight { background: linear-gradient(#0000 30%,#f81b 90%); }