/*@keyframes a { 0%, 100% { transform: rotateY(-5deg) } 50% { transform: rotateY(5deg) } }*/
.puzzle #viewport { background: radial-gradient(circle at 50% 50%, #fff, #07e); }
.world-3 #scene .floor, .world-4 #scene .floor { background: radial-gradient(#000a,#000e 80%),url(grass.svg); }
.world1 #scene .floor { background: radial-gradient(#0000,#000e 80%),url(grass.svg); }
.world2 #scene .floor { background: radial-gradient(#fff8,#fff0 80%),url(desert.svg); border-radius: 150px; }
.world3 #scene .floor { background: radial-gradient(#fff,#adf 80%); border-radius: 50%; }
.world4 #viewport { background: #000 }
.world4 #scene .floor { background: #ccd; box-shadow: 0 0 100px #fff; }
#puzzlefloor { background: #0005; }
.tile { background: #fff; border: 3px solid #777; }
.wall_tile { background: #bbb }
.tile.black { background: #000 }
.tile.red { background: #F00 }
.tile.blue { background: #00F }
.win .tile.blue { background: #4e2 }
.tile.portal1 { background: radial-gradient(#e0e, #505 70%, #0000 75%) }
.tile.portal2 { background: radial-gradient(#fc0, #c60 70%, #0000 75%) }
.wall * { background: linear-gradient(45deg, #000, #333); }
.tree { font-size: 75px; filter: brightness(0.7); transition: transform .5s; }
.flower { font-size: 45px; overflow: hidden; }
.animal { font-size: 55px; }
/*.animal div { animation: a 2s infinite }*/
.instant .tree { transition: none; }
.shadow { filter: contrast(0)brightness(0); opacity: .6 }
#wrap .cubefront, #wrap .cubeback, #wrap .cubeleft, #wrap .cuberight { background: linear-gradient(#0000 50%,#02d8); }
.puzzle7 #wrap .cubefront, .puzzle7 #wrap .cubeback, .puzzle7 #wrap .cubeleft, .puzzle7 #wrap .cuberight { background: linear-gradient(#0000 30%,#02d); }
.world1 .bricks div { fill: #f50; }
.world2 .bricks div { fill: #ccc; }
.world3 .bricks div { fill: #8cfb; }
.world4 .bricks div { fill: #555; }
.bricks .cubetop { filter: brightness(.8) }
.bricks .cubeleft { filter: brightness(.5) }
.bricks .cubefront.bricks .cubeback { filter: brightness(.7) }
.bricks .cuberight { filter: brightness(.9) }
.coin { font-size: 50px; text-shadow: 0 0 15px #fff; transition: 1.7s }
.crater { border-radius: 50%; box-shadow: inset 20px -2px 0 0px #444; background: #777; }