#scene .floor { xbackground: radial-gradient(#080,#020 80%); pointer-events: all; background: radial-gradient(#0000,#000e 80%),url(grass.svg); }
#puzzlefloor { background: #0003; }
.on_wall #puzzlefloor, .on_wall #puzzlewall * { pointer-events: all; }
.tile { background: #fff; border: 5px solid #000; }
.wall_tile { background: #bbb }
.tile.black { background: #000 }
.tile.red { background: #F00 }
.tile.blue { background: #00F }
.wall * { pointer-events: all; background: linear-gradient(45deg, #000, #333); }
.tree { font-size: 75px; filter: brightness(0.7); transition: transform .5s; }
.flower { font-size: 45px; text-shadow: none; overflow: hidden; }
.animal { font-size: 55px; }
.instant .tree { transition: none; }
.shadow { text-shadow: none; filter: contrast(0)brightness(0); opacity: .6 }
#mirror .cubefront, #mirror .cubeback { background: linear-gradient(#0000 30%,#02db 80%); }
#mirror .cubeleft, #mirror .cuberight { background: linear-gradient(#0000 30%,#f81b 80%); }
.bricks div { fill: #f50; pointer-events: all; }
.bricks .cubetop { filter: brightness(.8) }
.bricks .cubeleft { filter: brightness(.5) }
.bricks .cubefront.bricks .cubeback { filter: brightness(.7) }
.bricks .cuberight { filter: brightness(.9) }